<app-input-text></app-input-text>
<hr/>
<app-textarea></app-textarea>
<hr/>
<app-select></app-select>
<hr/>
<app-radio-button></app-radio-button>
<hr/>
<app-checkbox></app-checkbox>
<hr/>
<app-form></app-form>
<hr/>
<app-ng-model-group></app-ng-model-group>
<hr/>
<app-main-form></app-main-form>
<hr/>
<app-custom-validator-form-ex1></app-custom-validator-form-ex1>
<hr/>
<app-custom-validator-form-ex2></app-custom-validator-form-ex2>
<hr/>
<app-async-custom-validator-form></app-async-custom-validator-form>
<hr/>
<app-standalone-control-form></app-standalone-control-form>
