<input type="text" #meuInput ngModel />

valor: {{ meuInput.value }}

<!--* Usar o changeDetection sem o ngModel  -->

<br />
<br />

<input type="text" #meuInput2 />


valor2: {{ meuInput2.value }}

<button (click)="changeDetection()">Atualizar</button>

<br/>
<br/>

<!--* Mais uma forma de usar o changeDetection   -->

<input type="text" #meuInput3 [(ngModel)]="teste"/>


valor3: {{ teste }}

<br>
<br>

<input type="text" #meuInput4 ngModel />

valor4: {{ meuInput4.value }}

<button (click)="clicou(meuInput4)">Atualizar</button>
