<div class="container">
  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header" card-header>
          <img src="assets/icons/icon-client.png" alt="" appCardLargeImage>
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content" card-content>
          <p appCardDescriptionText>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo beatae a voluptates nisi non veniam, vitae aspernatur minima aut, pariatur dolorum maiores laudantium sapiente, ut dolorem iure adipisci doloribus. Cupiditate.</p>
        </div>
      </app-card-content>
    </app-card>
  </div>
  <div class="item">
    <app-card>
      <app-card-header>
        <div class="card__header card__header--direction-column" card-header>
          <h1 appCardMainText>Fulano da Silva</h1>
          <img src="assets/icons/icon-client.png" alt="" appCardSmallImage>
          <h3 appCardSubText>Desenvolvedor Front-End</h3>
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content" card-content>
          <p appCardDescriptionText>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo beatae a voluptates nisi non veniam, vitae aspernatur minima aut, pariatur dolorum maiores laudantium sapiente, ut dolorem iure adipisci doloribus. Cupiditate.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim laudantium at veritatis corporis et, totam, repudiandae, similique molestias eligendi vero libero quis commodi doloremque recusandae debitis mollitia! Repudiandae, fuga tempore?
          </p>
        </div>
      </app-card-content>
    </app-card>
  </div>
</div>
