<div class="card">
  <ng-content select=".texto"></ng-content>
  <ng-content select="button"></ng-content>
  <ng-content select="[attrTeste]"></ng-content>
</div>

<div class="card">
  <ng-content select="[card-header]"></ng-content>
  <ng-content select="[card-content]"></ng-content>
  <ng-content select="[card-footer]"></ng-content>
</div>

<div class="card">
  <ng-content select="app-comp-texto" ></ng-content>
</div>

<!--* Se tiver dois ng-content o Angular vai colocar o conteúdo no primeiro que ele encontrar, no exemplo acima o primeiro é o que está fora da div.  -->


<!--* Quando tiver um select no ng-content ele vai especificar qual conteúdo será projeto no ng-content, conforme abaixo:  -->

<!--* select=".texto" apenas os elementos com essa classe serão projetados.  -->

<!--* select="button" apenas os elementos com a tag serão projetados.  -->

<!--* select="[attrTeste]" apenas os elementos com atributo serão projetados.  -->

<!--* select="app-comp-texto" apenas o component com a tag app-comp-texto será projetado.  -->
