<div class="card">
  <h1 class="ca-u-card-text-title">Sou o título do card</h1>

  <h1 appCardTextTitle>Sou o título do card</h1>

  <app-card-text-title>Sou o título do card, aplicando diretiva com seletor de elemento </app-card-text-title>

  <h1 class="ca-u-card-text-subtitle">Sou o subtítulo do card</h1>

  <app-card-text-subtitle>Sou o subtítulo do card, aplicando diretiva com seletor de elemento</app-card-text-subtitle>

  <h1 class="ca-u-card-text-description">Sou a descrição do card</h1>

  <app-card-text-description color="green">Sou a descrição do card, aplicando diretiva com seletor de elemento</app-card-text-description>
</div>

<!-- <img src="assets/images/lhaminha1.JPG" alt="" class="ca-u-card-avatar-small"> -->

<img src="assets/images/lhaminha1.JPG" alt="" appCardAvatarSmall>

<app-card-avatar-small>
  <img src="assets/images/lhaminha1.JPG" alt="">
</app-card-avatar-small>

<!-- <img src="assets/images/lhaminha1.JPG" alt="" class="ca-u-card-avatar-large"> -->

<app-card-avatar-large>
  <img src="assets/images/lhaminha1.JPG">
</app-card-avatar-large>
