<form [formGroup]="pessoaForm" (ngSubmit)="onFormSubmit()">
  <h4>Pessoa:</h4>
  <label for="name">Nome:</label>
  <input type="text" id="name" formControlName="nome"> <br/>
  @if(pessoaForm.get('nome')?.invalid && (pessoaForm.get('nome')?.touched || pessoaForm.get('nome')?.dirty)){
    <div style="color: red; font-size: 14px">
      @if(pessoaForm.get('nome')?.hasError('required')){
        <p>O nome é obrigatório</p>
      }
    </div>
  }

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email"> <br/><br/>
  @if(pessoaForm.get('email')?.invalid && (pessoaForm.get('email')?.touched || pessoaForm.get('email')?.dirty)){
     <div style="color: red; font-size: 14px;">
      @if(pessoaForm.get('email')?.hasError('required')){
        <p>O Email é obrigatório</p>
      }
    </div>
  }

  <button type="submit">Enviar</button>
</form>
