<form #meuForm="ngForm">
  <mat-form-field>
    <!-- [ngModel]="nome"
    (ngModelChange)="onChange($event)" -->
    <mat-label>Nome:</mat-label>
    <input
      type="text"
      name="nome"
      matInput
      [(ngModel)]="nome"
      #nomeControl
      required/>
    <mat-hint>O nome é necessário!</mat-hint>
    <mat-error>O nome de ser preenchido!</mat-error>
  </mat-form-field>
  <div>
    <br/><br/>
    <button type="button" [disabled]="meuForm.invalid" (click)="onClick()">Enviar</button>
  </div>
</form>
